.leftbar_user {
  padding-left: 5px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(111, 111, 111);
  padding-bottom: 5px;
}
.leftbar_restMenu {
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
}
.leftbar_button_style {
 color:rgb(0, 0, 0)
}
.scrolled svg {
  color: #fff;
}
.leftbar_wrap {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}
.leftbar_wrap a {
  text-decoration: none;
  outline: none;
}
.leftbar_link a {
  text-decoration: none;
  color: black;
  
}
.leftbar_link  {
  text-decoration: none;
  color: rgb(118, 118, 118);
  display: inline-flex;
  width: 220px;
}
.leftbar_link span  {
  padding-top: 4px;
  padding-left: 28px;
  font-weight: 600;
  color: black;
}
.leftbar_link_button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid rgb(177, 177, 177);
  width: 220px;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.leftbar_link_button:hover {
  background-color: rgb(228, 228, 228);
}
.leftbar_link_button_login {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  width: 220px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: black;
  cursor: pointer;
}
.leftbar_link_button_login:hover {
  background-color: rgb(37, 37, 37);
}
.leftbar_MobileMenu {
  display: none;
}
.leftbar_link_button span  {
  padding-top: 4px;
  font-weight: 600;
  font-size: 16px;
  color: black;
}
.leftbar_link_button_login span  {
  padding-top: 4px;
  font-weight: 600;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
